<div class="container ">
    <div class="row">
        <div class="col-md-2">
            <!--<div class="form-group has-feedback">-->
            <!--<input type="text" class="form-control" placeholder="Search"/>-->
            <!--<i class="glyphicon glyphicon-search form-control-feedback"></i>-->
            <!--</div>-->
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    My Account
                </a>
                <a href="" class="list-group-item">My Saved Photographers</a>
                <a href="" class="list-group-item">My Bookings</a>
                <a href="" class="list-group-item">Inbox</a>
                <a href="" class="list-group-item">Account Settings</a>
                <a href="" class="list-group-item">FQA</a>
                <a href="" class="list-group-item">Support Service Packages</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row" ng-repeat="photographer in bookings track by $index | filter:searchText">
                <div class="col-md-4    ">
                    <img src="{{photographer.photo}}" height="100" width="100" style="border-radius:75px">
                </div>
                <div class="col-md-4">
                    <p>Name: {{photographer.firstName}}</p>
                    <p>Location: {{photographer.location}}</p>
                    <button class="btn btn-primary" ng-click="selectedPhotographers()">Detail</button>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>