<!--search for a photographer main section-->
<div class="container">
    <form class="form-inline">
        <div style="line-height: 50px;">
            <div class="form-group">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="false">
                        Destination Search Box
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="">
                            <div class="checkbox">
                                <label><input type="checkbox" value="">UK</label>
                            </div>
                        </a></li>
                        <li><a href="">
                            <div class="checkbox">
                                <label><input type="checkbox" value="">France</label>
                            </div>
                        </a></li>
                        <li><a href="">
                            <div class="checkbox">
                                <label><input type="checkbox" value="">Italy</label>
                            </div>
                        </a></li>
                        <li><a href="">
                            <div class="checkbox">
                                <label><input type="checkbox" value="">Spain</label>
                            </div>
                        </a></li>


                    </ul>
                </div>
            </div>
            <div class="dropdown form-group">
                <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown">
                    <div class="input-group"><input type="text" class="form-control"
                                                    data-ng-model="data.dateDropDownInput1"
                                                    placeholder="Start Date"><span
                            class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-ng-model="data.dateDropDownInput1"
                                    data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
                </ul>

            </div>
            <div class="dropdown form-group">
                <a class="dropdown-toggle" id="dropdown3" role="button" data-toggle="dropdown">
                    <div class="input-group"><input type="text" class="form-control"
                                                    data-ng-model="data.dateDropDownInput2" placeholder="End Date"><span
                            class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-ng-model="data.dateDropDownInput2"
                                    data-datetimepicker-config="{ dropdownSelector: '#dropdown3' }"/>
                </ul>
            </div>
            <div class="form-group">
                <a href="#/search">
                    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"
                                                                        aria-hidden="true"></span></button>
                </a>
            </div>
        </div>
    </form>
</div>
<hr>
<!--gallary displays-->
<div class="container">
<p>Best of our collections</p>
    <div class="row">
        <div class="col-md-4"><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcT32mS2-Y9wgp0RiKMwmP-wDMDmkxeOUFqgGSA02Oz5ZzMDL06z" class="img-rounded" alt="Cinque Terre" width="304" height="236"></div>
        <div class="col-md-4"><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcT32mS2-Y9wgp0RiKMwmP-wDMDmkxeOUFqgGSA02Oz5ZzMDL06z" class="img-rounded" alt="Cinque Terre" width="304" height="236"></div>
        <div class="col-md-4"><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcT32mS2-Y9wgp0RiKMwmP-wDMDmkxeOUFqgGSA02Oz5ZzMDL06z" class="img-rounded" alt="Cinque Terre" width="304" height="236"></div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4"><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcT32mS2-Y9wgp0RiKMwmP-wDMDmkxeOUFqgGSA02Oz5ZzMDL06z" class="img-rounded" alt="Cinque Terre" width="304" height="236"></div>
        <div class="col-md-4"><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcT32mS2-Y9wgp0RiKMwmP-wDMDmkxeOUFqgGSA02Oz5ZzMDL06z" class="img-rounded" alt="Cinque Terre" width="304" height="236"></div>
        <div class="col-md-4"><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcT32mS2-Y9wgp0RiKMwmP-wDMDmkxeOUFqgGSA02Oz5ZzMDL06z" class="img-rounded" alt="Cinque Terre" width="304" height="236"></div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4"><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcT32mS2-Y9wgp0RiKMwmP-wDMDmkxeOUFqgGSA02Oz5ZzMDL06z" class="img-rounded" alt="Cinque Terre" width="304" height="236"></div>
        <div class="col-md-4"><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcT32mS2-Y9wgp0RiKMwmP-wDMDmkxeOUFqgGSA02Oz5ZzMDL06z" class="img-rounded" alt="Cinque Terre" width="304" height="236"></div>
        <div class="col-md-4"><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcT32mS2-Y9wgp0RiKMwmP-wDMDmkxeOUFqgGSA02Oz5ZzMDL06z" class="img-rounded" alt="Cinque Terre" width="304" height="236"></div>
    </div>
</div>