<div class="container-fluid home-background" style="height:500px">

    <form class="form-inline" style="margin: 0 auto;width:800px;padding-top:400px">
        <div style="line-height: 50px;">
            <div class="form-group">
                <!--<div class="btn-group" role="group">-->
                <!--<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"-->
                <!--aria-expanded="false">-->
                <!--Destination Search Box-->
                <!--<span class="caret"></span>-->
                <!--</button>-->
                <!--<ul class="dropdown-menu" role="menu">-->
                <!--<li><a href="">-->
                <!--<div class="checkbox">-->
                <!--<label><input type="checkbox" value="">UK</label>-->
                <!--</div>-->
                <!--</a></li>-->
                <!--<li><a href="">-->
                <!--<div class="checkbox">-->
                <!--<label><input type="checkbox" value="">France</label>-->
                <!--</div>-->
                <!--</a></li>-->
                <!--<li><a href="">-->
                <!--<div class="checkbox">-->
                <!--<label><input type="checkbox" value="">Italy</label>-->
                <!--</div>-->
                <!--</a></li>-->
                <!--<li><a href="">-->
                <!--<div class="checkbox">-->
                <!--<label><input type="checkbox" value="">Spain</label>-->
                <!--</div>-->
                <!--</a></li>-->
                <!--</ul>-->
                <!--</div>-->

                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="false">
                        {{searchLocation}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ng-click="searchLocation='Europe'">Europe</a></li>
                        <li><a ng-click="searchLocation='Asia'">Asia</a></li>
                        <li><a ng-click="searchLocation='Middle East'">Middle East</a></li>
                        <li><a ng-click="searchLocation='America'">America</a></li>
                        <li class="divider"></li>
                        <li><a ng-click="searchLocation='Others'">Others</a></li>
                    </ul>
                </div>

            </div>
            <div class="dropdown form-group">
                <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown">
                    <div class="input-group"><input type="text" class="form-control"
                                                    data-ng-model="data.dateDropDownInput1"
                                                    placeholder="Start Date"><span
                            class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-ng-model="data.dateDropDownInput1"
                                    data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
                </ul>

            </div>
            <div class="dropdown form-group">
                <a class="dropdown-toggle" id="dropdown3" role="button" data-toggle="dropdown">
                    <div class="input-group"><input type="text" class="form-control"
                                                    data-ng-model="data.dateDropDownInput2" placeholder="End Date"><span
                            class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-ng-model="data.dateDropDownInput2"
                                    data-datetimepicker-config="{ dropdownSelector: '#dropdown3' }"/>
                </ul>
            </div>
            <div class="form-group">
                <a href="#/search">
                    <a type="button" class="btn btn-default" href="#/searchView"><span
                            class="glyphicon glyphicon-search"
                            aria-hidden="true"></span></a>
                </a>
            </div>
        </div>

    </form>
</div>
<hr>


<!--gallary displays-->
<div class="container">
    <font size="5" color="grey">Best of our Collections</font>
    <hr>

        <div class="masonry-brick">
            <img ng-src="{{ photos[0].src }}" alt="A masonry brick" width="30%" height="">
            <img ng-src="{{ photos[1].src }}" alt="A masonry brick" width="30%" height="">
            <img ng-src="{{ photos[2].src }}" alt="A masonry brick" width="30%" height="">
            <br>
            <img ng-src="{{ photos[8].src }}" alt="A masonry brick" width="25%" height="">
            <img ng-src="{{ photos[6].src }}" alt="A masonry brick" width="40%" height="350px">
            <img ng-src="{{ photos[7].src }}" alt="A masonry brick" width="25%" height="">
            <br>
            <img ng-src="{{ photos[3].src }}" alt="A masonry brick" width="20%" height="">
            <img ng-src="{{ photos[4].src }}" alt="A masonry brick" width="20%" height="">
            <img ng-src="{{ photos[5].src }}" alt="A masonry brick" width="50%" height="350px">


        </div>
</div>
<br><br><br><br>