<div class="container-fluid home-background" style="height:500px">

    <form class="form-inline" style="margin: 0 auto;width:800px;padding-top:400px">
        <div style="line-height: 50px;">
            <div class="form-group">
                <!--<div class="btn-group" role="group">-->
                    <!--<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"-->
                            <!--aria-expanded="false">-->
                        <!--Destination Search Box-->
                        <!--<span class="caret"></span>-->
                    <!--</button>-->
                    <!--<ul class="dropdown-menu" role="menu">-->
                        <!--<li><a href="">-->
                            <!--<div class="checkbox">-->
                                <!--<label><input type="checkbox" value="">UK</label>-->
                            <!--</div>-->
                        <!--</a></li>-->
                        <!--<li><a href="">-->
                            <!--<div class="checkbox">-->
                                <!--<label><input type="checkbox" value="">France</label>-->
                            <!--</div>-->
                        <!--</a></li>-->
                        <!--<li><a href="">-->
                            <!--<div class="checkbox">-->
                                <!--<label><input type="checkbox" value="">Italy</label>-->
                            <!--</div>-->
                        <!--</a></li>-->
                        <!--<li><a href="">-->
                            <!--<div class="checkbox">-->
                                <!--<label><input type="checkbox" value="">Spain</label>-->
                            <!--</div>-->
                        <!--</a></li>-->
                    <!--</ul>-->
                <!--</div>-->

                <div class="btn-group" >
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    {{searchLocation}}
                     <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a ng-click="searchLocation='Europe'">Europe</a></li>
                    <li><a ng-click="searchLocation='Asia'">Asia</a></li>
                    <li><a ng-click="searchLocation='Middle East'">Middle East</a></li>
                    <li><a ng-click="searchLocation='America'">America</a></li>
                    <li class="divider"></li>
                    <li><a ng-click="searchLocation='Others'">Others</a></li>
                </ul>
            </div>

            </div>
            <div class="dropdown form-group">
                <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown">
                    <div class="input-group"><input type="text" class="form-control"
                                                    data-ng-model="data.dateDropDownInput1"
                                                    placeholder="Start Date"><span
                            class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-ng-model="data.dateDropDownInput1"
                                    data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
                </ul>

            </div>
            <div class="dropdown form-group">
                <a class="dropdown-toggle" id="dropdown3" role="button" data-toggle="dropdown">
                    <div class="input-group"><input type="text" class="form-control"
                                                    data-ng-model="data.dateDropDownInput2" placeholder="End Date"><span
                            class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-ng-model="data.dateDropDownInput2"
                                    data-datetimepicker-config="{ dropdownSelector: '#dropdown3' }"/>
                </ul>
            </div>
            <div class="form-group">
                <a href="#/search">
                    <a type="button" class="btn btn-default" href="#/searchView"><span class="glyphicon glyphicon-search"
                                                                        aria-hidden="true"></span></a>
                </a>
            </div>
        </div>

    </form>
</div>
<hr>
<!--gallary displays-->
<div class="container">
    <h3>Best of our Collections</h3>
    <div class="row">
        <div class="col-md-4"><img
                src="images/isle_of_wight/1.jpg"
                class="img-rounded" alt="Cinque Terre" width="350" height="250"></div>
        <div class="col-md-4"><img
                src="images/isle_of_wight/2.jpg"
                class="img-rounded" alt="Cinque Terre" width="350" height="250"></div>
        <div class="col-md-4"><img
                src="images/isle_of_wight/3.jpg"
                class="img-rounded" alt="Cinque Terre" width="350" height="250"></div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4"><img
                src="images/isle_of_wight/4.jpg"
                class="img-rounded" alt="Cinque Terre" width="350" height="250"></div>
        <div class="col-md-4"><img
                src="images/isle_of_wight/5.jpg"
                class="img-rounded" alt="Cinque Terre" width="350" height="250"></div>
        <div class="col-md-4"><img
                src="images/isle_of_wight/6.jpg"
                class="img-rounded" alt="Cinque Terre" width="350" height="250"></div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4"><img
                src="images/isle_of_wight/7.jpg"
                class="img-rounded" alt="Cinque Terre" width="350" height="250"></div>
        <div class="col-md-4"><img
                src="images/isle_of_wight/10.jpg"
                class="img-rounded" alt="Cinque Terre" width="350" height="250"></div>
        <div class="col-md-4"><img
                src="images/isle_of_wight/9.jpg"
                class="img-rounded" alt="Cinque Terre" width="350" height="250"></div>
    </div>
</div>
<br><br><br><br>